<section id="main">
  <div class="center_content w-100 d-flex  justify-content-between align-items-center">
    <div class="d-flex"></div>


    <div class="input_search d-flex align-items-center">
      <input #event (input)="search(event)"
             id="search_input"
             type="text"
             placeholder="Search for free photos"
      />
      <fa-icon [icon]="faSearch"></fa-icon>
    </div>
    <button id="home"  routerLinkActive="active" routerLink=""  class="btn-back btn w-10" ><fa-icon [icon]="faHome"></fa-icon></button>
  </div>
</section>
<div class="row me-3 m-lg-3">
  <div class="col-sm-12 col-md-4 col-lg-2 p-2" *ngFor="let image of images">
    <div class="bottom_details ">
      <div class="card" >
        <a href="{{image.url}}_b.jpg">
          <img  src="{{image.url}}_m.jpg" title="{{image.title}}">
        </a>
      </div>
      <button id="button">
        <fa-icon [icon]="faDownload"></fa-icon>
      </button>
    </div>
  </div>
</div>




